<%= render :partial => "layouts/head" %>

<div id="container">

<div id="content">
  
<%= content_tag 'p', h(flash[:notice]), :class => 'notice' if flash[:notice] %>
<%= content_tag 'p', h(flash[:error]), :class => 'notice error' if flash[:error] %>
  
<%= yield %>
</div>

<div id="right">
  <%= yield :right %>
</div>

<br style="clear:both;" />

</div>

<div id="footer">
<!--
<p class="legal">
<a href="/legal/" style="color:#369;">Legal</a>
</p>
-->
<p class="disclaim">
  <strong>
  <% if @current_site && !current_site.tagline.blank? %>
  <%= current_site.tagline %>
  <% end %>
  </strong>
</p>
<p class="credit">
  <%= 'Powered by'[:powered_by] %> <a href="http://github.com/jxl/altered_beast/tree/murloc">Murloc</a>
</p>
<br style="clear:both;" />
</div>
</body>
</html>
